<html>

<head>
    <link rel="stylesheet" type="text/css" href="analysis.css" />
</head>
<title>MSI Variables for {{ pmac.name }}</title>

<body>
    <h1>MSI Variables for {{ pmac.name }}</h1>
        <a
        href="{{ pmac.name }}_msivars_glob.htm">Global MSI variables</a><br />
        {% for i in range(1, pmac.motors+1) %}
        <a href="{{ pmac.name }}_msivars_motor{{ i }}.htm">Motor {{ i }} MSI variables</a><br />
        {% endfor %}
</body>

</html>