<html>

<head>
    <link rel="stylesheet" type="text/css" href="analysis.css" />
</head>
<title>{{ title }}</title>

<body>
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <th>PLC</th>
            <th>Code</th>
            <th>P Variables</th>
        </tr>
        {% for plc in plcs %}
        <tr>
            <td>{{ plc.num }}</td>
            <td><a href="{{ pmac }}_plc_{{ plc.num }}.htm">Code</a></td>
            <td><a href="{{ pmac }}_plc_{{ plc.num }}_p.htm">P{{ plc.p_low}}..{{plc.p_high}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>